# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/

# Swift Package Manager
.build/
Packages/

# macOS
.DS_Store

# Ruby / Fastlane local artifacts
.bundle/
bin/
vendor/bundle/
fastlane/README.md
fastlane/report.xml
